<div class="spinner-border" role="status" [hidden]="!(isLoading$ | async)">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="(alert$ | async) as alerta">
  
  <div class="alert alert-{{alerta.tipo}}" role="alert" [hidden]="!alerta.open">
     {{alerta.message}}
  </div>
</div>


<div class="wrapper" [hidden]="(isLoading$ | async)">
  <nav id="sidebar" [ngClass]="{'hiden': !isOpen, 'show': isOpen}">
    <app-menu-list></app-menu-list>
  </nav>
  <div class="content" style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" (click)="openMenu()" class="btn btn-info"> <i
          class="fa fa-align-justify"></i></button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" appDrop> <a class="nav-link" href="#">Carrito <span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
      <div *ngIf="alert.active" class="alert alert-{{alert.type}}" role="alert">
        {{alert.message}}
      </div>
      <router-outlet></router-outlet>
      <div class="line"></div>
    </div>
  </div>
</div>