<div class="product-comments">
    <h5 class="mb-2">Or ask to David's Store</h5>
    <form action="" class="form-inline mb-5">
        <textarea name="" id="" cols="50" rows="2" class="form-control mr-4"
            placeholder="write a question"></textarea><button class="btn btn-lg btn-primary">Ask</button>
    </form>
    <h5 class="mb-5">Lastest Questions</h5>
    <ol class="list-unstyled last-questions-list">
        <li><i class="fa fa-comment"></i> <span>Hello david, can i pay with credit card?</span></li>
        <li><i class="fa fa-comment"></i> <span>can i send it to another address?</span></li>
    </ol>
</div>