<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">
    <div [hidden]="isShow">
        <app-breadcrumbs>
            <label category>Catalogo</label>
            <label title>Productos</label>
        </app-breadcrumbs>
    </div>

    <div class="row">
        <div class="col-6">

            <button class="btn btn-primary" (click)="aplicarPromo()">Aplicar Promo</button>
            <button class="btn btn-primary" (click)="aumentarPrecio()">Aumentar Precios</button>
        </div>
        <div class="col-6" [formGroup]="searchForm">
            <input type="text" (change)="find($event)" class="form-control" appError [isError]="true" formControlName="query">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories
                </div>
                <ul class="list-group category_block" *ngIf="(categorias$ | async) as categorias; loading">
                    <li class="list-group-item" *ngFor="let categoria of categorias"><a href="javascript:void(0)"
                            (click)="categorizar(categoria)">{{categoria.nombre}}</a></li>

                </ul>
                <div #loading>Cargando ...</div>
            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4"
                    *ngFor="let product of ((product$ | async) | buscador: ( query$ | async))">
                    <div class="card" #cardDiv>
                        <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap"
                            (click)="openModal(template)">
                        <app-product [product]="product"></app-product>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>