<div class="product-description mb-5">
  <h2 class="mb-5">Features</h2>
  <dl class="row mb-5">
    <dt class="col-sm-3">Brand</dt>
    <dd class="col-sm-9">Nickony</dd>
    <dt class="col-sm-3">Color</dt>
    <dd class="col-sm-9">Red</dd>
    <dt class="col-sm-3">Size</dt>
    <dd class="col-sm-9">XXL</dd>
    <dt class="col-sm-3">Fabric</dt>
    <dd class="col-sm-9">Cottom</dd>
  </dl>
  <h2 class="mb-5">Description</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit nemo reiciendis quisquam a quis
    delectus consectetur ipsa eligendi aliquam earum in vitae voluptate ratione fugiat similique nostrum
    debitis dolor, ipsam quo officiis quas
    necessitatibus? Magnam eveniet iure, eligendi est ullam consectetur repellat quis doloremque ad
    perspiciatis assumenda ducimus distinctio quaerat sit repudiandae illo praesentium modi dolor.
    Veritatis aperiam, minima natus assumenda
    ipsum voluptatem reprehenderit? Possimus nobis, voluptate, blanditiis, temporibus ad nostrum
    corrupti quos corporis voluptas tempora aliquid magnam quia voluptatem rerum odit fugiat facere
    necessitatibus adipisci sunt. Veritatis architecto,
    perferendis labore sit nobis eaque perspiciatis et iusto, in doloribus est!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel reiciendis voluptatibus
    assumenda tempora vitae aut adipisci harum, corporis in id perferendis quia repellat reprehenderit
    temporibus aspernatur ab ullam magni error
    consectetur, facilis inventore ipsum, veniam voluptas. Error laboriosam atque quisquam facere esse
    repellat consectetur quos eum, quaerat blanditiis saepe?</p>
</div>