<p>Directiva de Condiccion</p>
<p>valor: {{identificador}}</p>
<p *ngIf="identificador == 'one'"> Su valor es UNO</p>
<p *ngIf="identificador == 'two'"> Su valor es DOS</p>
<button class="btn btn-primary" (click)="changeIdentificador()"> Cambiar</button>

<div *ngIf="loaded ; else cargando">
</div>
<p>Cargando...</p>
<ng-template #cargando> Estoy cargando</ng-template>

<p>Directiva de Ciclo</p>
<label *ngFor="let item of lista">
    {{item.name}}
</label>

<p>Directiva de clase</p>
<button class="btn" [ngClass]="{'btn-primary':index === 1, 'btn-secundary': index ===2,
'my_class': index > 2}" (click)="siguiente()">boton
</button>

<p>Directiva Estilo</p>
<p [ngStyle]="estilo">Esto es un solo texto</p>
<button *ngFor="let family of families" class="btn btn-default" (click)="setFamily(family)">Cambiar familia {{family}}</button>